<configuration>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    when Sentry is initialized in Java code, its enough to create an instance of Appender without further configuration.
    If just Logback integration is used, DSN can be provided through options in logback.xml file
    -->
    <appender name="sentry" class="io.sentry.logback.SentryAppender"/>

    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="sentry"/>
    </root>
</configuration>
